*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background: #0a0a10;
    color: #ffffff;
    font-family: sans-serif;
}
header{
    height: 80px;
   padding-left: 20px;
   padding-right: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}
header nav, .header-left-content, .header-right-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.brand-name{
    font-size: 22px;
}
#subtitle{
    color: red;
    font-size: 14px;
}
header nav ul {
    display: flex;
    justify-items: center;
    align-items: center;
}
ul li{
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
}
ul li a{
   text-decoration: none;
   padding: 10px;
   font-weight: normal;
   font-size: 16px;
   word-spacing:5px;
}
.fa-solid{
   
    background: transparent;
    font-size: 14px;
}
.header-right-content .fa-solid{
color: #aeb0b7;
font-size: 20px;
}
/* button */
.collect-btn{
   border: 1px solid rgba(128, 128, 128, 0.404);
   padding: 10px;
   border-radius: 6px;
   transition: 0.3s;
}
.collect-btn:hover{
    border: 1px solid #fff;
    background: rgba(128, 128, 128, 0.739);
    cursor: pointer;

}
.reward-btn{
    border: 2px solid #fd8383;
    padding: 6px;
    border-radius: 6px;
    transition: 0.3s;
    background:linear-gradient(red,#FD8383);
    
    cursor: pointer;
}

/* main content */
.main-section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top:80px ;
    padding-left: 20px;
    padding-right: 20px;
}
/* left-content */
h1{
   font-size: 32px;
   padding-bottom: 10px;
}
.collect2-btn{
        border: 1px solid #84aeed;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 8px 10px;
        border-radius: 6px;
        transition: 0.3s;
        background-color: #ffffff;
        color: #000;
}
h3{
    font-size: 25px;
    margin-top: 20px;
}
.left-content{
    width: 50%;
}
.earn-point{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zero-btn{
    border: 1px solid rgba(128, 128, 128, 0.78);
    padding: 5px;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.523);
}
.first-div{
padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.585);
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid #093228ed;
    box-shadow: 0 3px 10px #093228ed;
}
.share-div  {
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.585);
    border-radius: 10px;
    margin-top: 30px;
    
}
.fa-brands{
    background: transparent;
    color: #000;
    border: none;
}
.share-div:hover{
border: 1px solid #093228ed;
box-shadow: 0 3px 10px #093228ed;
}
.share-div h4{
    font-size: 22px;
}
.share-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share-div .share-heading p{
    color: gray;
    font-size: 14px;
    font-weight: 700;
   
}
.share-div p{
    padding-top:10px ;
    font-size: 12px;
    line-height: 20px;
}
.share-div button{
margin-right: 4px;
}
.sign-btn .fa-solid{
    color: #000;
    background: #ffffff;

}
.sign-btn{
    color: #000;
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.terms-text{
    font-weight: 700;
    margin-top: 20px;
}
.terms{
    color: blue;
}

/* right-content */
.right-content{
    width: 40%;
  
}
.right-content-nav ul{
    display: flex;
}
.right-content-nav ul a{
    font-size: 16px;
    font-weight: 700;

}
.right-content-nav ul a:hover , .right-content-nav ul a:active{
border-bottom: 2px solid red;
}
.right-content p{
    margin-top: 30px;
}
.search{
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.671);
    background: rgba(128, 128, 128, 0.278);
    padding: 10px;
    border-radius: 6px;
    font-weight: 700;
}
/* table */
.div-scroll,
table {
    
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
}

table {
   
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table img{
    width: 34px;
    border-radius: 100%;
}
tr{
    border-bottom: 1px solid rgba(128, 128, 128, 0.296);
    text-align: start;
   
}
th{
    text-align: start;
    padding: 10px;
}
.user{
    display: flex;
    align-items: center;
    padding-top: 25px;
    gap: 10px;
}
.user span{
    color: #1DA1F2;
}
.fa-bolt{
    background: red;
    padding: 2px;
    font-size: 10px;
    border-radius: 100%;
}
.refer-btn{
    border:1px solid #fc5757;
    margin-left: 30px;
    padding: 8px ;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.261);
}
tr td{
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -80px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}